<a href="https://colab.research.google.com/github/SparkyGoLarky/SparkyGoLarky/blob/main/Python_SQLite_Table_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect("pets.db")

In [3]:
connection

In [4]:
cursor = connection.cursor()

In [5]:
cursor

In [6]:
query = ''' CREATE TABLE IF NOT EXISTS Pet (id INTEGER, name VARCHAR(20), gender VARCHAR(1), dob DATE, ownerID INTEGER);'''
cursor.execute(query)

In [7]:
query = ''' INSERT INTO Pet (id, name, ownerID) values(1, "Pudding", 1); '''
cursor.execute(query)

In [8]:
connection.commit()

In [9]:
query = ''' SELECT * from Pet '''

In [10]:
cursor.execute(query)

In [11]:
result = cursor.fetchall()

In [12]:
result

[(1, 'Pudding', None, None, 1)]

In [13]:
query = ''' INSERT INTO Pet (id, ownerID) values(2, 1); '''
cursor.execute(query)

In [14]:
query = ''' INSERT INTO Pet (id, name, gender, ownerID) values(3, "Luna", "f", 1); '''
cursor.execute(query)

In [15]:
select_all_pets_query = ''' SELECT * from Pet '''

In [16]:
cursor.execute(select_all_pets_query)
result = cursor.fetchall()
result

[(1, 'Pudding', None, None, 1),
 (2, None, None, None, 1),
 (3, 'Luna', 'f', None, 1)]

In [17]:
query = ''' CREATE TABLE IF NOT EXISTS Owner 
            (id INTEGER, 
            firstName VARCHAR(20), 
            lastName VARCHAR(20), 
            address VARCHAR(20), 
            city VARCHAR(20), 
            country VARCHAR(20), 
            postCode VARCHAR(10)
          ); '''
cursor.execute(query)

query = ''' INSERT INTO Owner 
            (id, firstName, lastName)
            values(1, "Scooby", "Doo"); '''
cursor.execute(query)

In [21]:
query = ''' INSERT INTO Owner
            (id, firstName, lastName, city)
            values(2, "Scooby", "Doo", "Tokyo"); '''
cursor.execute(query)

In [24]:
query = ''' INSERT INTO Owner
            (id, firstName, lastName, city)
            values(3, "Rick", "Sanchez", "Rogerville"); '''
cursor.execute(query)

In [25]:
query = ''' SELECT * from Owner '''
cursor.execute(query)
result = cursor.fetchall()
result

[(1, 'Scooby', 'Doo', None, None, None, None),
 (2, 'Scooby', 'Doo', None, 'Tokyo', None, None),
 (3, 'Rick', 'Sanchez', None, 'Rogerville', None, None)]

In [26]:
query = ''' SELECT * from Owner WHERE firstName = "Scooby"; '''
cursor.execute(query)
result = cursor.fetchall()
result

[(1, 'Scooby', 'Doo', None, None, None, None),
 (2, 'Scooby', 'Doo', None, 'Tokyo', None, None)]

In [19]:
query = ''' SELECT * from Pet WHERE name = "Pudding"; '''
cursor.execute(query)
result = cursor.fetchall()
result

[(1, 'Pudding', None, None, 1)]

In [20]:
query = ''' SELECT * from Pet WHERE id = 2; '''
cursor.execute(query)
result = cursor.fetchall()
result

[(2, None, None, None, 1)]